.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}
.figure {
  margin-top: 50px;
}
.quick {
  font-size: 300%;
}
.mark1 {
  margin-right: 15px;
  position: relative;
  top: 20px;
}
.mark2 {
  margin-left: 15px;
  position: relative;
  top: 80px;
}